<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.datainf.mapper.ContactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.datainf.entity.Contact">
        <result column="id" property="id" />
        <result column="con_name" property="conName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="con_unit" property="conUnit" />
        <result column="con_address" property="conAddress" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        con_name, mobile, email, con_unit, con_address, updated_at, created_at
    </sql>

</mapper>
