<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.datainf.mapper.DataShareinfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.datainf.entity.DataShareinf">
        <result column="id" property="id" />
        <result column="apply_id" property="applyId" />
        <result column="check_id" property="checkId" />
        <result column="apply_status" property="applyStatus" />
        <result column="apply_content" property="applyContent" />
        <result column="apply_explain" property="applyExplain" />
        <result column="api_key" property="apiKey" />
        <result column="updated_at" property="updatedAt"/>
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        apply_id,check_id,apply_status,apply_content,apply_explain,api_key,updated_at,created_at
    </sql>
    <select id="searchAll" resultType="com.piesat.school.datainf.vto.ShareInfVTO">
        select
        *
        from t_data_share
    </select>
    <select id="checkStatus" resultType="com.piesat.school.datainf.vto.ShareInfVTO">
        select
        *
        from t_data_share a
        where (a.apply_id = #{dataShareParamData.applyId})
    </select>
    <select id="auditApplyList" resultType="com.piesat.school.datainf.vto.AuditApplyListVTO">
        select
        a.name,a.work_unit,a.id,a.email,
        b.created_at,b.updated_at,b.apply_status,b.id as bid
        from t_user a
        inner join t_data_share b on a.id=b.apply_id
        where 1=1
        <if test="dataShareParamData.applyStatus !=null and dataShareParamData.applyStatus!=''">
            and b.apply_status=#{dataShareParamData.applyStatus}
        </if>
        <if test="dataShareParamData.name!=null and dataShareParamData.name!=''">
            and a.name like CONCAT( #{dataShareParamData.name} ,'%')
        </if>
        <if test="dataShareParamData.startDate!=null and dataShareParamData.startDate!='' and dataShareParamData.startDate!= '' and dataShareParamData.endDate!=null">
            and b.created_at >= #{dataShareParamData.startDate}
            <![CDATA[and b.created_at <=#{dataShareParamData.endDate}]]>
        </if>
            order by b.created_at desc
    </select>
    <select id="detail" resultType="com.piesat.school.datainf.vto.ShareInfVTO">
        select
        b.apply_status,
        b.apply_explain,b.updated_at,b.id,b.mark,b.apply_id

        from t_data_share b
        where (b.id=#{dataShareParamData.id})
    </select>



</mapper>
