<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.datainf.mapper.DatainfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.datainf.entity.Datainf">
        <result column="id" property="id" />
        <result column="data_name" property="dataName" />
        <result column="maker" property="maker" />
        <result column="data_unit" property="dataUnit" />
        <result column="address" property="address" />
        <result column="keyword" property="keyword" />
        <result column="first_class" property="firstClass" />
        <result column="sec_class" property="secClass"/>
        <result column="content" property="content" />
        <result column="meas" property="meas" />
        <result column="ratio" property="ratio" />
        <result column="doi" property="doi" />
        <result column="pic" property="pic" />
        <result column="status" property="status" />
        <result column="introduction" property="introduction" />
        <result column="origin" property="origin" />
        <result column="solution" property="solution" />
        <result column="con_id" property="conId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="kick_count" property="kickCount" />
        <result column="down_count" property="downCount" />
        <result column="start_at" property="startAt"/>
        <result column="end_at" property="endAt"/>
        <result column="topic_id" property="topicId"/>
        <result column="data_amount" property="dataAmount"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        data_name, maker,start_at,end_at, data_unit, address, keyword, first_class,sec_class, content, meas, ratio, doi, pic, status, introduction,
        origin, solution, con_id, created_at, updated_at, kick_count, down_count,topic_id,data_amount,deleted
    </sql>
    <select id="getAllDatainf" resultType="com.piesat.school.datainf.vto.DataInfListVTO">
        select
            a.id,
            a.data_name,
            a.down_count,
            a.data_amount,
            a.pic,
            a.start_at,
            a.end_at,
            a.`status`
        from t_data_inf a
        where a.deleted = 1
        order by a.start_at desc
    </select>

    <select id="searchByKeyword" resultType="com.piesat.school.datainf.vto.DataInfListVTO">
        select
            a.id,
            a.data_name,
            a.down_count,
            a.data_amount,
            a.pic,
            a.start_at,
            a.end_at,
            a.`status`
        from
            t_data_inf a
            where (a.keyword like #{searchByKeyParamData.keyword} AND a.deleted = 1)
            order by a.start_at desc

    </select>
    <select id="searchByClass" resultType="com.piesat.school.datainf.vto.DataInfListVTO">
        SELECT
            a.id,
            a.data_name,
            a.down_count,
            a.data_amount,
            a.pic,
            a.start_at,
            a.end_at,
            a.`status`
        FROM
            t_data_inf a
        WHERE (a.first_class = #{searchByClassParamData.firstClass} OR a.sec_class = #{searchByClassParamData.secClass} AND deleted = 1)
            ORDER BY a.start_at DESC

    </select>
    <select id="searchByTime" resultType="com.piesat.school.datainf.vto.DataInfListVTO">
        SELECT
            a.id,
            a.data_name,
            a.down_count,
            a.data_amount,
            a.pic,
            a.start_at,
            a.end_at,
            a.`status`
        FROM
            t_data_inf a
        WHERE (a.start_at > #{searchByTimeParamData.startAt} AND #{searchByTimeParamData.endAt} > a.end_at AND deleted = 1)
            ORDER BY a.start_at DESC

    </select>
    <select id="searchAll" resultType="com.piesat.school.datainf.vto.DataInfListVTO">
        SELECT
            id,
            data_name,
            down_count,
            data_amount,
            pic,
            start_at,
            end_at,
            `status`
        FROM
            t_data_inf
        WHERE  deleted = 1
              <if test="searchAllParamData.firstClass != null">
                  AND first_class = #{searchAllParamData.firstClass}
              </if>
              <if test="searchAllParamData.secClass != null">
                  AND sec_class = #{searchAllParamData.secClass}
              </if>
              <if test="searchAllParamData.startAt != null ">
                  AND start_at > #{searchAllParamData.startAt}
              </if>
              <if test="searchAllParamData.endAt != null">
                  AND #{searchAllParamData.endAt} >end_at
              </if>
        ORDER BY start_at DESC
    </select>
    <select id="dataInfDetail" parameterType="long" resultType="com.piesat.school.datainf.vto.DataInfDetailVTO">
        select
            a.data_name,
            a.data_unit,
            a.maker,
            a.address,
            a.keyword,
            a.doi,
            a.first_class,
            a.sec_class,
            a.introduction,
            a.meas,
            a.`status`,
            a.start_at,
            a.solution,
            a.origin,
            a.end_at,
            a.ratio,
            b.con_name,
            b.con_address,
            b.email,
            b.mobile,
            b.con_unit,
            a.left_up;
            a.right_down;
        from t_data_inf a
        LEFT JOIN t_contact b on b.id = a.con_id
        where (a.id = #{dataInfId} AND a.deleted = 1)
    </select>

    <select id="myDataMenu" parameterType="long" resultType="com.piesat.school.datainf.vto.MyDataInfVTO">
        SELECT
            id,
            address,
            start_at,
            end_at,
            upload_user_id,
            through_review
        FROM t_data_inf
        WHERE upload_user_id = #{userId} AND deleted = 1
    </select>
    <update id="delDataInf">
        UPDATE t_data_inf
        SET deleted = 0
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </update>


</mapper>
