<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.datainf.mapper.DataShareinfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.datainf.entity.DataShareinf">
        <result column="id" property="id" />
        <result column="apply_id" property="apply_id" />
        <result column="check_id" property="check_id" />
        <result column="apply_status" property="apply_status" />
        <result column="apply_content" property="apply_content" />
        <result column="apply_explain" property="apply_explain" />
        <result column="api_key" property="api_key" />
        <result column="updated_at" property="updated_at"/>
        <result column="created_at" property="created_at" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        apply_id,check_id,apply_status,apply_content,apply_explain,api_key,updated_at,created_at
    </sql>
    <select id="searchAll" resultType="com.piesat.school.datainf.vto.ShareInfVTO">
        select
        *
        from t_data_share
    </select>
    <select id="checkStatus" resultType="com.piesat.school.datainf.vto.ShareInfVTO">
        select
        *
        from t_data_share a
        where (a.apply_id = #{dataShareParamdata.applyId})
    </select>
    <select id="auditApplyList" resultType="com.piesat.school.datainf.vto.AuditApplyListVTO">
        select
        a.*,
        b.apply_status

        from t_user a
        inner join t_data_share b on a.id=b.apply_id
    </select>
    <select id="detail" resultType="com.piesat.school.datainf.vto.AuditApplyListVTO">
        select
        a.*,
        b.apply_status,
        b.apply_explain

        from t_user a
        inner join t_data_share b on a.id=b.apply_id
        where (a.id=#{dataShareParamData.id})
        order by a.updated_at desc
    </select>



</mapper>
