<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.order.mapper.OrderFromMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.order.entity.OrderFrom">
        <result column="id" property="id" />
        <result column="data_type" property="dataType" />
        <result column="download_user_id" property="downloadUserId" />
        <result column="auditor_user_id" property="auditorUserId" />
        <result column="data_info_id" property="dataInfoId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        data_type, download_user_id, auditor_user_id, data_info_id, created_at, updated_at
    </sql>
    <select id="orderFromMenu" resultType="com.piesat.school.order.vto.OrderFromVTO">
        SELECT
            o.id,
            o.data_type,
            o.download_user_id,
            o.data_info_id,
            o.mark,
            d.data_name,
            d.pic,
            d.`status`,
            d.start_at,
            d.end_at,
            d.data_amount,
        <if test="orderFromMenuPageParamData.downloadUserId == null">
            u.name as downloadUserName,
            u.work_unit   as downloadUserWorkUnit,
            o.auditor_user_id auditorUserId,
        </if>
            o.created_at,
            o.updated_at
        FROM
            t_order o
            LEFT JOIN t_data_inf d ON o.data_info_id = d.id
        <if test="orderFromMenuPageParamData.downloadUserId==null">
            left join t_user u on o.download_user_id=u.id
        </if>
        WHERE 1=1
        <if test="orderFromMenuPageParamData.downloadUserId!=null">
            and o.download_user_id = #{orderFromMenuPageParamData.downloadUserId}
        </if>
        <if test="orderFromMenuPageParamData.dataType != null and orderFromMenuPageParamData.dataType != 0 and orderFromMenuPageParamData.dataType != 4" >
            AND o.data_type = #{orderFromMenuPageParamData.dataType}
        </if>
        <if test="orderFromMenuPageParamData.type !=null">
            and o.data_type=#{orderFromMenuPageParamData.type}
        </if>
        <if test="orderFromMenuPageParamData.startDate!=null and orderFromMenuPageParamData.startDate!='' and orderFromMenuPageParamData.startDate!= '' and orderFromMenuPageParamData.endDate!=null">
            and o.created_at >= #{orderFromMenuPageParamData.startDate}
            <![CDATA[and o.created_at <=#{orderFromMenuPageParamData.endDate}]]>
        </if>
        <if test="orderFromMenuPageParamData.downloadUserName!=null and orderFromMenuPageParamData.downloadUserName!=''">
            and u.name like CONCAT( #{orderFromMenuPageParamData.downloadUserName} ,'%')
        </if>
            AND d.data_name != ''
            AND o.is_delete != 1
            AND d.deleted !=1
        order by o.created_at desc
    </select>

    <select id="orderFromInfo" parameterType="long" resultType="com.piesat.school.order.vto.OrderFromInfoVTO">
        SELECT
        o.data_type,
        o.download_user_id,
        d.data_name,
        d.`status`,
        o.created_at,
        o.explain
        FROM
        t_order_from o
        LEFT JOIN t_data_inf d ON o.data_info_id = d.id
        WHERE
        o.id = #{orderFromId}
    </select>

    <select id="attentionList" resultType="com.piesat.school.order.vto.OrderFromAttentionVTO">
        SELECT
            a.id,
            a.data_id,
            d.data_name,
            d.created_at,
            d.status,
            d.address,
            d.publisher_status publisherStatus,
            u.name,
            d.upload_user_id,
            d.start_at startAt,
            d.end_at endAt

        FROM
            t_user u
            LEFT JOIN t_attention a ON u.id = a.user_id
            LEFT JOIN t_data_inf d ON a.data_id = d.id
        WHERE
            u.id = #{orderFromAttentionParamData.id}
--         AND
--             d.through_review = 1
        AND
            a.status = 1
        AND
            a.data_id IN (SELECT id FROM t_data_inf WHERE deleted=0)
        order by a.created_at desc
    </select>

    <select id="historyDownload" resultType="com.piesat.school.order.vto.OrderFromHistoryDownLoadVTO">
        SELECT
            hd.id,
            hd.data_id dataId,
            di.data_name,
            di.`status`,
            di.data_amount,
            hd.download_count downloadCount,
            hd.created_at,
            hd.updated_at
        FROM
            t_history_download hd
            LEFT JOIN t_data_inf di ON hd.data_id = di.id
            WHERE hd.user_id = #{orderFromAttentionParamData.historyUserId} and di.deleted=0
    </select>

    <update id="orderfromDelete">
        UPDATE t_order
        SET is_delete = 1
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </update>




</mapper>
