<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.uploadpermissions.mapper.UploadPermisssionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.uploadpermissions.entity.UploadPermissions">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="work_address" property="workAddress" />
        <result column="major" property="major" />
        <result column="application_time" property="applicationTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, email, work_address, major, application_time, status
    </sql>

    <select id="uploadPermissionsList" resultType="com.piesat.school.uploadpermissions.vto.UploadPermissionsVTO">
        SELECT
            up.id as id,
            up.applicat_id as userId,
            up.status as applyStatus,
            up.approver as approver,
            u.`name` as name,
            u.email as email,
            u.unit_address as unitAddress,
            u.profession as profession,
            up.created_at as createdAt
        FROM
            t_upload_permisssions up
            LEFT JOIN t_user u ON u.id = up.applicat_id
        where 1=1
        <if test="uploadPermissionsStatus !=null">
           and up.status =#{uploadPermissionsStatus}
        </if>
        <if test="startAt!=null and startAt!=''">
            and up.created_at >=#{startAt}
        </if>
        <if test="endAt!=null and endAt!=''">
            <![CDATA[and up.created_at <=#{endAt}]]>
        </if>
    </select>

</mapper>
