<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.school.biz.ds.orderFrom.mapper.OrderFromMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.piesat.school.biz.ds.orderFrom.entity.OrderFrom">
        <result column="id" property="id" />
        <result column="data_id" property="dataId" />
        <result column="data_type" property="dataType" />
        <result column="download_user_id" property="downloadUserId" />
        <result column="auditor_id" property="auditorId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        data_id, data_type, download_user_id, auditor_id, created_at, updated_at
    </sql>

</mapper>
